.img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style par défaut des flèches */
.swiper-button-prev,
.swiper-button-next {
  color: #E8B51E;        /* ta couleur de marque */
  font-weight: bold;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #000;           /* changement au survol */
}

/* Positionnement responsive */
@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    scale: 0.7;          /* plus petites sur mobile */
  }
}


@media (max-width: 640px) {
  .img {
    height: 160px;   /* plus petit sur mobile */
    width: 100px;    /* largeur réduite */
  }
}

@media (max-width: 1024px) {
  .img {
    height: 300px;   /* tablette */
    width: 200px;
  }
}

.swiper {
  cursor: grab;
  width: 100%;          /* occupe toute la largeur */
  height: auto;
  position: relative;
}

.swiper::before,
.swiper::after {
  z-index: 2;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 800vw;
  height: 800vw;
  background: #E8B51E;
  border-radius: 50%;
}

.swiper::before {
  top: -795vw;
}

.swiper::after {
  bottom: -795vw;
}
